@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 260 25% 96%;
    --foreground: 260 40% 10%;
    --card: 0 0% 100%;
    --card-foreground: 260 40% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 260 40% 10%;
    --primary: 270 48% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 60% 45%;
    --secondary-foreground: 0 0% 100%;
    --muted: 260 10% 90%;
    --muted-foreground: 260 20% 40%;
    --accent: 166 79% 77%;
    --accent-foreground: 260 40% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 260 20% 85%;
    --input: 260 20% 85%;
    --ring: 270 48% 55%;
    --radius: 0.75rem;
    --chart-1: 270 48% 55%;
    --chart-2: 240 60% 45%;
    --chart-3: 166 79% 77%;
    --chart-4: 221 49% 77%;
    --chart-5: 260 20% 40%;
  }

  .dark {
    --background: 260 40% 5%;
    --foreground: 260 20% 98%;
    --card: 260 40% 10%;
    --card-foreground: 260 20% 98%;
    --popover: 260 40% 10%;
    --popover-foreground: 260 20% 98%;
    --primary: 270 48% 65%;
    --primary-foreground: 260 40% 10%;
    --secondary: 240 60% 60%;
    --secondary-foreground: 260 20% 98%;
    --muted: 260 30% 15%;
    --muted-foreground: 260 10% 70%;
    --accent: 166 79% 40%;
    --accent-foreground: 260 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 260 30% 20%;
    --input: 260 30% 20%;
    --ring: 270 48% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}

@media print {
  nav, .print-hidden, button {
    display: none !important;
  }
  main {
    margin: 0 !important;
    padding: 0 !important;
  }
  .print-bg-white {
    background-color: white !important;
  }
}